.popup-content {
  border: 8px solid cadetblue;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.5);
  inset: 0;
}
.cross-icon {
  cursor: pointer;
  border: 2px solid gray;
}
