.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
}
.home-title {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home-content {
  border: 3px solid green;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px;
}
