.drawer-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drawer-title > .icon {
  align-self: flex-end;
  margin: 8px;
}
.drawer-content {
  border: 2px solid blue;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer-content > button {
  border: 2px solid gray;
  flex-shrink: 1;
  min-width: 0;
  box-shadow: 0px 0px 5px red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drawer-content > button:hover {
  box-shadow: 0px 0px 8px rgb(226, 74, 74);
}
