.navbar-container {
  border: 2px solid red;
}
.nav-bar {
  display: flex;
  justify-content: center;
  gap: 32px;
  border: 3px solid darkgoldenrod;
}
.nav-item {
  border: 2px solid gray;
  padding: 0 8px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px green;
  cursor: pointer;
}
.nav-item.has-dropdown {
  position: relative;
}
.nav-item.has-dropdown:hover .nav-item-dropper {
  visibility: visible;
}
.nav-item-dropper {
  position: absolute;
  left: -8px;
  cursor: initial;
  background: green;
  top: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  margin: 8px 0;
  border-radius: 8px;
  visibility: collapse;
}
.nav-item-dropper::before {
  content: "";
  border: 2px solid blue;
  left: 0;
  height: 10%;
  width: 100%;
  top: -10px;
  position: absolute;
}
